@charset "utf-8";
/* フォント設定 */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
/* 基本ひな形設定用個別はそれぞれ作る */
body {
    background-color: #f1f1f1 !important;
}
.header-logo {
    background-color: rgb(249, 191, 78);
    padding: 20px 0;
    text-align: center;
}
.header-logo h1 {
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.header-menu {
    background-color: white;
}
.header-menu ul {
    display: flex;
    list-style: none;
    padding: 0 0 0 80px;
}
.header-menu li {
    padding: 10px 20px;
}
.header-menu a {
    padding: 10px 20px;
}
.menu-list {
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
.menu-list:hover {
    color: rgb(196, 104, 0);
}
.logout-btn {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}
/* プロフ画像用 */
.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* ふりがな表示用 */
.hurigana {
    font-size: 50%;
    color: #555555;
}

/* カードリンク用 */
.custom-card-link {
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}
.custom-card-link:hover {
    color: rgb(196, 104, 0);
    box-shadow: 0 0 10px gray;
}

/* いいねボタン用 */
