<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{base/layout::meta_header('top',~{::link},~{::script})}">
    <meta charset="UTF-8">
<title>カテゴリ編集 | SpringBootアプリ</title>
</head>
<body>
    <header th:replace="~{base/layout::header}"></header>
    <div th:fragment="~{base/layout::maincontent}" class="main-content container-md">
        <h1>カテゴリ編集</h1>
        <form th:action="@{/inquiry/category/{id}/edit(id=${categorys.id})}" th:object="${categorys}" method="post">
            <div class="mb-3">
                <label for="category" class="form-label">カテゴリの名前 <span class="badge bg-secondary">必須</span></label>
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control" required>
                <div class="form-text">255文字まで</div>
                <span class="error" th:errors="*{name}"></span>
            </div>
            <button type="submit" class="btn btn-primary">登録する</button>
        </form>
    </div>
</body>
</html>
