<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{base/layout::meta_header('お問い合わせ',~{::link},~{::script})}">
    <meta charset="UTF-8">
<title>お問い合わせ新規作成 | SpringBootアプリ</title>
</head>
<body>
    <header th:replace="~{base/layout::header}"></header>
    <div th:replace="~{base/layout::system-dialog}"></div>
    <div th:fragment="~{base/layout::maincontent}" class="main-content container-md">
        <h1>お問い合わせ</h1>
        <form th:action="@{/inquiry/create}" method="post">
            <div class="mb-3">
                <label for="description">お問い合わせ内容</label>
                <textarea name="description" id="description" class="form-control" rows="5" required></textarea>
                <div class="form-text">お問い合わせ内容を入力</div>
            </div>
            <div class="mb-3">
                <label for="category">カテゴリー</label>
                <select id="category" name="category" class="form-select" required>
                    <option th:each="category : ${categorys}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <div class="form-text">お問い合わせのカテゴリを選択</div>
            </div>
            <div class="mb-3">
                <label for="email">メールアドレス</label>
                <input type="text" name="email" id="email" class="form-control">
                <div class="form-text">お問い合わせ内容のご回答に使用させていただく場合がございます</div>
            </div>
            <button type="submit" class="btn btn-primary">送信する</button>
        </form>
    </div>
</body>
</html>