<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="~{base/layout::meta_header('top',~{::link},~{::script})}">
        <meta charset="UTF-8">
    <title>トップページ | SpringBootアプリ</title>
    </head>
    <body>
        <header th:replace="~{base/layout::header}"></header>
        <div th:fragment="~{base/layout::maincontent}" class="main-content container-md">
            <!--ここから新ページ用-->
            <div class="user-container">
                <!-- プロフィール画像があるときの画像表示用 -->
                <img th:if="${user.imagePath != null}" th:src="@{${user.imagePath}}" th:alt="${user.username}" class="img-fluid profile-img">
                <!-- プロフィール画像がないときの画像表示用(デフォルト画像) -->
                <img th:unless="${user.imagePath != null}" th:src="@{/images/default_image.png}" th:alt="${user.username}" class="img-fluid profile-img">
                <!--ユーザー名の表示用-->
                <h2 th:text="${user.username}">ユーザー名</h2>
                <!--登録されているメールアドレス(表示するかは要検討ふつうはないことが多いと思う)-->
                <p>メールアドレス：<span th:text="${user.email}"></span></p>
                <p><span th:text="${user.description}"></span></p>
            </div>
            <!--編集ボタンエリア(実装時は、管理者権限と、本人のみ表示すること)-->
            <!-- 管理者権限専用で表示するボタン -->
            <div class="edit-btn-aria" sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/users/{id}/edit(id=${user.id})}"><button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> このユーザーの情報を編集</button></a>
            </div>
            <!-- 一般ユーザ専用で表示するボタン -->
            <div class="edit-btn-aria" sec:authorize="hasRole('ROLE_USER')" th:if="${user.id} == ${#authentication.principal.id}">
                <a th:href="@{/users/{id}/edit(id=${user.id})}"><button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> 編集する</button></a>
            </div>
            <!-- テスト用現在ログインのメールアドレス -->
             <!-- th:text="${#authentication.principal}" でログイン中のユーザー情報を取得できる -->
             <!-- <h2 th:text="${#authentication.principal}"></h2> -->
        </div>
    </body>
</html>