<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:replace="~{base/layout::meta_header(${user.username},~{::link},~{::script})}">
        <meta charset="UTF-8">
    <title>トップページ | SpringBootアプリ</title>
    </head>
    <body>
        <header th:replace="~{base/layout::header}"></header>
        <div th:fragment="~{base/layout::maincontent}" class="main-content container-md">
            <!--ここから新ページ用-->
            <div class="user-container">
                <!-- プロフィール画像があるときの画像表示用 -->
                <img th:if="${user.imagePath != null}" th:src="@{${user.imagePath}}" th:alt="${user.username}" class="img-fluid profile-img">
                <!-- プロフィール画像がないときの画像表示用(デフォルト画像) -->
                <img th:unless="${user.imagePath != null}" th:src="@{/images/default_image.png}" th:alt="${user.username}" class="img-fluid profile-img">
                <!--ユーザー名の表示用-->
                <h2><span th:text="${user.username}"></span> <span class="hurigana" th:text="${user.hurigana}"></span></h2>
                <!-- 性別の表示(数字で格納しているので条件式で表記するやり方でやる) -->
                <p>
                    性別：
                    <span th:if="${user.sexial == 0}">未設定</span>
                    <span th:if="${user.sexial == 1}">男性</span>
                    <span th:if="${user.sexial == 2}">女性</span>
                    <span th:if="${user.sexial == 3}">その他</span>
                </p>
                <!-- 年齢の表示 -->
                <p>年齢：<span th:text="${user.age}"></span>歳</p>
                <!-- 自己紹介欄 -->
                <p><span th:text="${user.description}"></span></p>
                <!-- 年間いいね -->
                <p>年間いいね：<span th:text="${like_year}"></span>  月間いいね：<span th:text="${like_month}"></span></p>
                <!-- いいねをまだしていない場合に表示 -->
                <form th:if="${!isLike}" th:action="@{/users/{id}/like(id=${user.id})}" method="post"><button type="submit" class="btn-no-outline"><span>いいねする</span><i class="bi bi-heart-fill not-like"></i> <span th:text="${like}"></span></button></form>
                <!-- いいねをすでにしている場合に表示 -->
                <form th:if="${isLike}" th:action="@{/users/{id}/unlike(id=${user.id})}" method="post"><button type="submit" class="btn-no-outline"><span>いいね取り消し</span><i class="bi bi-heart-fill like"></i> <span th:text="${like}"></span></button></form>
            </div>
            <!--編集ボタンエリア(実装時は、管理者権限と、本人のみ表示すること)-->
            <!-- 管理者権限専用で表示するボタン -->
            <div class="edit-btn-aria" sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/users/{id}/edit(id=${user.id})}"><button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> このユーザーの情報を編集</button></a>
            </div>
            <!-- 一般ユーザ専用で表示するボタン -->
            <div class="edit-btn-aria" sec:authorize="hasRole('ROLE_USER')" th:if="${user.id} == ${#authentication.principal.id}">
                <a th:href="@{/users/{id}/edit(id=${user.id})}"><button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i> 編集する</button></a>
            </div>
            <!-- テスト用現在ログインのメールアドレス -->
             <!-- th:text="${#authentication.principal}" でログイン中のユーザー情報を取得できる -->
             <!-- <h2 th:text="${#authentication.principal}"></h2> -->
        </div>
    </body>
</html>