<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{base/layout::meta_header('いいねランキング',~{::link},~{::script})}">
    <meta charset="UTF-8">
<title>いいねランキング | SpringBootアプリ</title>
</head>
<body>
    <header th:replace="~{base/layout::header}"></header>
    <div th:replace="~{base/layout::system-dialog}"></div>
    <div th:fragment="~{base/layout::maincontent}" class="main-content container-md">
        <h1>いいねランキング</h1>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="rankradio" id="rank-month" onclick="toggleContent()" value="month" checked>
          <label class="btn btn-outline-primary" for="rank-month">月間ランキング</label>
          <input type="radio" class="btn-check" name="rankradio" id="rank-year" onclick="toggleContent()" value="year">
          <label class="btn btn-outline-primary" for="rank-year">年間ランキング</label>
        </div>
        <hr>
        <div id="content-month" class="hidden">
          <div class="card mb-3 ranking-card" style="max-width: 540px;" th:each="user, iterStat : ${users}" th:attr="data-user-id=${user.userId},data-like-count=${user.totalLikes}">
              <a th:href="@{/users/{id}(id=${user.userId})}" class="custom-card-link">
                <div class="row g-0">
                  <div class="col-md-4">
                    <!-- 画像登録があるときの画像表示用 -->
                    <img th:if="${user.imagePath != null}" th:src="@{${user.imagePath}}" th:alt="${user.username}" class="img-fluid rounded-start">
                    <!-- プロフィール画像がないときの画像表示用(デフォルト画像) -->
                    <img th:unless="${user.imagePath != null}" th:src="@{/defaultimage/default_image.png}" th:alt="${user.username}" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5><span th:text="${iterStat.count} + '位'" class="rank-number"></span></h5>
                      <h5 class="card-title" th:text="${user.username}"></h5>
                      <p class="card-text">月間いいね：<span th:attr="data-user-id=${user.userId}" th:text="${user.totalLikes}" class="like-count"></span></p>
                      <p class="card-text"><small class="text-body-secondary" th:text="${user.description}"></small></p>
                    </div>
                  </div>
                </div>
              </a>
              <!-- いいねする用のボタン -->
              <!-- <form th:action="@{/users/{id}/likerank(id=${user.userId})}" method="post"><button type="submit" class="btn btn-outline-danger"><span>いいねする</span><i class="bi bi-heart-fill"></i></button></form> -->
              <!-- いいねする用のボタン -->
              <button th:data-user-id="${user.userId}" type="submit" class="btn btn-outline-danger like-btn"><span>いいねする</span><i class="bi bi-heart-fill"></i></button>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-3 mb-3" th:each="user, iterStat : ${users}">
                <div class="card" style="width: 18rem;">
                    画像登録があるときの画像表示用
                    <img th:if="${user.imagePath != null}" th:src="@{${user.imagePath}}" th:alt="${user.username}" class="card-img-top">
                    プロフィール画像がないときの画像表示用(デフォルト画像)
                    <img th:unless="${user.imagePath != null}" th:src="@{/images/default_image.png}" th:alt="${user.username}" class="card-img-top">
                    <div class="card-body">
                        <h5><span th:text="${iterStat.count}"></span>位</h5>
                        <h5 th:text="${user.username}" class="card-title"></h5>
                        <p th:text="${user.description}" class="card-text"></p>
                        <p>いいね：<span th:text="${user.totalLikes}"></span></p>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="content-year" class="hidden">
          <div class="card mb-3 ranking-card" style="max-width: 540px;" th:each="user, iterStat : ${usersYear}" th:attr="data-user-id=${user.userId},data-like-count=${user.totalLikes}">
              <a th:href="@{/users/{id}(id=${user.userId})}" class="custom-card-link">
                <div class="row g-0">
                  <div class="col-md-4">
                    <!-- 画像登録があるときの画像表示用 -->
                    <img th:if="${user.imagePath != null}" th:src="@{${user.imagePath}}" th:alt="${user.username}" class="img-fluid rounded-start">
                    <!-- プロフィール画像がないときの画像表示用(デフォルト画像) -->
                    <img th:unless="${user.imagePath != null}" th:src="@{/defaultimage/default_image.png}" th:alt="${user.username}" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5><span th:text="${iterStat.count} + '位'" class="rank-number"></span></h5>
                      <h5 class="card-title" th:text="${user.username}"></h5>
                      <p class="card-text">年間いいね：<span th:attr="data-user-id=${user.userId}" th:text="${user.totalLikes}" class="like-count"></span></p>
                      <p class="card-text"><small class="text-body-secondary" th:text="${user.description}"></small></p>
                    </div>
                  </div>
                </div>
              </a>
              <!-- いいねする用のボタン -->
              <!-- <form th:action="@{/users/{id}/likerank(id=${user.userId})}" method="post"><button type="submit" class="btn btn-outline-danger"><span>いいねする</span><i class="bi bi-heart-fill"></i></button></form> -->
              <!-- いいねする用のボタン -->
              <button th:data-user-id="${user.userId}" type="submit" class="btn btn-outline-danger like-btn"><span>いいねする</span><i class="bi bi-heart-fill"></i></button>
          </div>
        </div>
    </div>
    <script src="/js/addlike-list.js"></script>
    <script src="/js/ranking.js" defer></script>
</body>
</html>
