<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="~{base/layout::meta_header('ユーザ登録',~{::link},~{::script})}">
    <meta charset="UTF-8">
<title>ユーザー登録 | SpringBootアプリ</title>
</head>
<body>
    <header th:replace="~{base/layout::header}"></header>
    <div th:replace="~{base/layout::system-dialog}"></div>
    <div class="main-content container-md">
            <h2><i class="bi bi-person-add"></i> <span th:text="${pageTitle}"></span></h2>
            <!--th:object="${users}" コントローラから渡されたusersオブジェクトを参照していることを確認する。ないとエラー！-->
            <hr>
        <form th:action="@{/register}" th:object="${users}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="role" class="form-label">権限： <span class="badge bg-secondary">必須</span></label>
                <label><input type="radio" name="role" id="role_user" onclick="toggleContentRegister()" value="ROLE_USER" checked> 一般ユーザ</label>
                <label><input type="radio" name="role" id="role_admin" onclick="toggleContentRegister()" value="ROLE_ADMIN"> 管理者</label>
                <span class="error" th:errors="*{role}"></span>
                <div class="form-text hidden" id="content-admin">
                    管理者：他ユーザを含めたすべてのユーザの情報の編集及び追加、削除ができる
                </div>
                <div class="form-text hidden" id="content-user">
                    一般ユーザ：自分自身の情報を編集できる
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">ユーザー名： <span class="badge bg-secondary">必須</span></label>
                <!--th:field="*{username}" どのフィールドなのか指定する-->
                <input type="text" id="username" name="username" th:field="*{username}" class="form-control"/>
                <div class="form-text">255文字まで</div>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('username')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{username}"></span></div>
            </div>
            <div class="mb-3 hidden" id="content-hurigana">
                <label for="hurigana" class="form-label">ふりがな： <span class="badge bg-secondary">必須</span></label>
                <input type="text" id="hurigana" name="hurigana" th:field="*{hurigana}" class="form-control"/>
                <div class="form-text">ひらがなのみ使用可</div>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('hurigana')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{hurigana}"></span></div>
                <!-- <span class="error" th:errors="*{hurigana}"></span> -->
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">メールアドレス: <span class="badge bg-secondary">必須</span></label>
                <input type="email" id="email" name="email" th:field="*{email}" class="form-control"/>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('email')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{email}"></span></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">パスワード: <span class="badge bg-secondary">必須</span></label>
                <input type="password" id="password" name="password" th:field="*{password}" class="form-control"/>
                <div class="form-text">8～32文字かつ半角英数と数字、ハイフンアンダーバーが使用可</div>
                <div class="error" th:if="${passwordfail}"><i class="fa-solid fa-circle-xmark"></i> <span th:text="${passwordfail}"></span></div>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('password')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{password}"></span></div>
            </div>
            <!-- ステータス登録 -->
            <div class="mb-3">
                <label for="locked" class="form-label">アクセス制御：</label>
                <label><input type="radio" name="locked" id="unlocked" value="0" onclick="toggleAccess()" checked>アクセス許可</label>
                <label><input type="radio" name="locked" id="enablelocked" value="1" onclick="toggleAccess()">アクセス禁止</label>
                <div class="form-text hidden" id="content-unlocked">
                    登録後、ユーザはメールアドレスとパスワードを使ってすぐにログインが可能です。
                </div>
                <div class="form-text hidden" id="content-enablelocked">
                    登録された状態ではユーザはログインが禁止されています。<br>
                    ログインできるようにするには登録後管理者がユーザ編集画面で「アクセス許可」に変更する必要があります。
                </div>
            </div>
            <!--性別のコントローラ、モデル未実装-->
            <div class="mb-3 hidden" id="content-sexial">
                <label for="sexial" class="form-label">性別： <span class="badge bg-secondary">必須</span></label>
                <select name="sexial" id="sexial" class="form-select">
                    <option value="0" selected>選択しない</option>
                    <option value="1">男性</option>
                    <option value="2">女性</option>
                    <option value="3">その他</option>
                </select>
                <div class="form-text">3桁まで</div>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('sexial')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{sexial}"></span></div>
            </div>
            <!--誕生日のコントローラー、モデル未実装-->
            <div class="mb-3 hidden" id="content-age">
                <label for="age" class="form-label">年齢： <span class="badge bg-secondary">必須</span></label>
                <input type="text" name="age" id="age" class="form-control">
                <div class="form-text">年齢を入力</div>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('age')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{age}"></span></div>
            </div>
            <div class="mb-3 hidden" id="content-description">
                <label for="description" class="form-label">自己紹介： </label>
                <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                <div class="form-text">1,500文字まで</div>
                <!-- バリデーションエラーが出た際に、ここに表示される-->
                <div class="valided-error" th:if="${#fields.hasErrors('description')}"><i class="fa-solid fa-circle-xmark"></i> <span th:errors="*{description}"></span></div>
            </div>
            <!-- プロフィール画像 -->
            <div class="mb-3 hidden" id="content-image">
                <label for="user-image" class="form-label">プロフィール画像： </label>
                <input type="file" name="image" id="image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>

        <p th:if="${success}" th:text="${success}" style="color: green;"></p>
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
        <a th:href="@{/login}">ログイン画面へ</a>
    </div>
    <script src="/js/register.js" defer></script>
</body>
</html>
