<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--共通にしたいheadをfragment化する-->
<head th:fragment="meta_header(title,links,scripts)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noname - SpringBootアプリ</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/status.css}">
    <script src="https://kit.fontawesome.com/97c4c8df8d.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}" defer></script>

    <!--各View固有で読み込むものを指定-->
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
    <!--ヘッダー部-->
    <header th:fragment="header">
        <div class="header-logo container-fluid">
            <h1>SpringApp(仮)</h1>
        </div>
        <div class="header-menu">
            <!--ログインなし時のメニュー-->
            <ul sec:authorize="isAnonymous()">
                <li><a th:href="@{/login}" class="menu-list"><i class="fa-regular fa-circle-user"></i> ログイン</a></li>
                <li><a th:href="@{/register}" class="menu-list"><i class="bi bi-door-open"></i> 新規登録</a></li>
            </ul>
            <!--一般ユーザログイン時のメニュー-->
            <ul sec:authorize="hasRole('ROLE_USER')">
                <li><a th:href="@{user}" class="menu-list">マイページ</a></li>
                <li><form th:action="@{/logout}" method="post"><button class="menu-list logout-btn"><i class="bi bi-door-open"></i> ログアウト</button></form></li>
            </ul>
            <!--管理者ユーザ時のメニュー-->
            <ul sec:authorize="hasRole('ROLE_ADMIN')">
                <li><a th:href="@{/admin}" class="menu-list"><i class="fa-regular fa-font-awesome"></i> 管理者ダッシュボード</a></li>
                <li><a href="#" class="menu-list"><i class="bi bi-person-gear"></i> ユーザー管理</a></li>
                <li><a th:href="@{/user}" class="menu-list">マイページ</a></li>
                <li><form th:action="@{/logout}" method="post"><button class="menu-list logout-btn"><i class="bi bi-door-open"></i> ログアウト</button></form></li>
            </ul>
        </div>
    </header>
    <!--メイン部分-->
    <div th:fragment="maincontent" class="main-content container-md">
    </div>
</body>
</html>