<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--共通にしたいheadをfragment化する-->
<head th:fragment="meta_header(title,links,scripts)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}+ ' - ProfileApp'">noname - ProfileApp</title>
    <!-- BootStrap5 -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- fontAwesome -->
    <script src="https://kit.fontawesome.com/97c4c8df8d.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}" defer></script>
    <!-- Beer CSS設定[https://www.beercss.com/] -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/beercss@3.10.8/dist/cdn/beer.min.css" rel="stylesheet"> -->
    <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.10.8/dist/cdn/beer.min.js"></script> -->
    <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script> -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/status.css}">
    <!-- deferを付与するとhtmlが完全に読み込まれてからスクリプトが実行されるようになり、getElementByIdがnullとなるのを防ぐことができる -->
    <script src="/js/main.js" defer></script>

    <!--各View固有で読み込むものを指定-->
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
    <!-- 新ヘッダー部分 -->
    <nav class="navbar navbar-expand-md bg-body-secondary" th:fragment="header">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">ProfileApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-label="ナビゲーション切り替え">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <!-- ログインしていないときのメニュー -->
                <ul class="navbar-nav me-auto mb-2 mb-md-0" sec:authorize="isAnonymous()">
                    <li class="nav-item menu-list"><a th:href="@{/ranking}" class="nav-link active" aria-current="page">ランキング</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/login}" class="nav-link active" aria-current="page">ログイン</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/inquiry/create}" class="nav-link active" aria-current="page">お問い合わせ</a></li>
                </ul>
                <!-- 一般ユーザでログインしているときのメニュー -->
                <ul class="navbar-nav me-auto mb-2 mb-md-0" sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item menu-list"><a th:href="@{/ranking}" class="nav-link active" aria-current="page">ランキング</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/users/{id}(id=${#authentication.principal.id})}" class="nav-link active" aria-current="page">マイページ</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/inquiry/create}" class="nav-link active" aria-current="page">お問い合わせ</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/profile_edit}" class="nav-link active" aria-current="page">プロフィール設定</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/setting}" class="nav-link active" aria-current="page">アカウント設定</a></li>
                    <form th:action="@{/logout}" method="post">
                        <button class="nav-link logout-btn">ログアウト</button>
                    </form>
                </ul>
                <!-- 管理者ユーザでログインしているときのメニュー -->
                <ul class="navbar-nav me-auto mb-2 mb-md-0" sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item menu-list"><a th:href="@{/admin/dashboard}" class="nav-link active" aria-current="page"><i class="fa-regular fa-font-awesome"></i> 管理者ダッシュボード</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/admin}" class="nav-link active" aria-current="page"><i class="bi bi-person-gear"></i> ユーザ管理</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/inquiry}" class="nav-link active" aria-current="page">お問い合わせ管理</a></li>
                    <li class="nav-item menu-list"><a th:href="@{/users/{id}/edit(id=${#authentication.principal.id})}" class="nav-link active" aria-current="page">設定</a></li>
                    <form th:action="@{/logout}" method="post">
                        <button class="nav-link logout-btn">ログアウト</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <!--ヘッダー部-->
    <!-- <header>
        <div class="header-logo container-fluid">
            <h1>SpringApp(仮)</h1>
        </div>
        <div class="header-menu">
           
            <ul sec:authorize="isAnonymous()">
                <li><a th:href="@{/ranking}" class="menu-list">ランキング</a></li>
                <li><a th:href="@{/login}" class="menu-list"><i class="fa-regular fa-circle-user"></i> ログイン</a></li>
                <li><a th:href="@{/register}" class="menu-list"><i class="bi bi-door-open"></i> 新規登録</a></li>
                <li><a th:href="@{/inquiry/create}" class="menu-list">お問い合わせ</a></li>
            </ul>
            
            <ul sec:authorize="hasRole('ROLE_USER')">
                <li><a th:href="@{/}" class="menu-list">トップページ</a></li>
                <li><a th:href="@{/ranking}" class="menu-list">ランキング</a></li>
                <li><a th:href="@{/users/{id}(id=${#authentication.principal.id})}" class="menu-list">マイページ</a></li>
                <li><form th:action="@{/logout}" method="post"><button class="menu-list logout-btn"><i class="bi bi-door-open"></i> ログアウト</button></form></li>
                <li><a th:href="@{/inquiry/create}" class="menu-list">お問い合わせ</a></li>
            </ul>
            
            <ul sec:authorize="hasRole('ROLE_ADMIN')">
                <li><a th:href="@{/}" class="menu-list">トップページ</a></li>
                <li><a th:href="@{/ranking}" class="menu-list">ランキング</a></li>
                <li><a th:href="@{/admin}" class="menu-list"><i class="fa-regular fa-font-awesome"></i> 管理者ダッシュボード</a></li>
                <li><a th:href="@{/admin/list}" class="menu-list"><i class="bi bi-person-gear"></i> ユーザー管理</a></li>
                <li><a th:href="@{/users/{id}(id=${#authentication.principal.id})}" class="menu-list">マイページ</a></li>
                <li><a th:href="@{/inquiry}" class="menu-list">お問い合わせ管理</a></li>
                <li><form th:action="@{/logout}" method="post"><button class="menu-list logout-btn"><i class="bi bi-door-open"></i> ログアウト</button></form></li>
            </ul>
        </div>
    </header> -->
    <!--システムダイアログ-->
    <div th:fragment="system-dialog" class="main-content container-md">
        <div class="alert alert-danger" role="alert" th:if="${systemError}">
            <i class="fa-solid fa-circle-xmark"></i> <span th:text="${systemError}"></span>
        </div>
        <div class="alert alert-warning" role="alert" th:if="${systemWarning}">
            <i class="fa-solid fa-triangle-exclamation"></i> <span th:text="${systemWarning}"></span>
        </div>
        <div class="alert alert-success" role="alert" th:if="${systemSuccess}">
            <i class="fa-solid fa-circle-check"></i> <span th:text="${systemSuccess}"></span>
        </div>
        <div class="alert alert-primary" role="alert" th:if="${systemInfo}">
            <i class="fa-solid fa-circle-info"></i> <span th:text="${systemInfo}"></span>
        </div>
    </div>
    <!-- メイン部分(不使用) -->
    <div th:fragment="maincontent" class="main-content container-md">
        
    </div>
</body>
</html>